<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Archivo-VariableFont_wdth,wght</string>
		<string>ArchivoBlack-Regular</string>
		<string>IBMPlexMono-Regular</string>
	</array>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SPOTIFY_CLIENT_SECRET</key>
	<string>$(SPOTIFY_CLIENT_SECRET)</string>
	<key>SPOTIFY_REDIRECT_URI</key>
	<string>$(SPOTIFY_REDIRECT_URI)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
